In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-30 21:07:10--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.231.176, 52.216.108.117, 52.217.135.192, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.231.176|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 1.12M=0.01s

2023-01-30 21:07:11 (1.12 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [2]:
import pandas as pd
df = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost/ny_taxi')

In [5]:
engine.connect()

In [6]:
query = """SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema' ;"""

In [7]:
pd.read_sql(query,con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_trips,root,None,True,False,False,False

In [9]:
df.to_sql(name='zone_table',con=engine,if_exists='replace')

265